<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liangqinghai.study.mybatis.mapper.TAgilefoxProjectMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.liangqinghai.study.mybatis.entity.TAgilefoxProject">
        <id column="ID" property="id" />
        <result column="EN_NAME" property="enName" />
        <result column="CH_NAME" property="chName" />
        <result column="REMARK" property="remark" />
        <result column="BUSINESS_AREA_ID" property="businessAreaId" />
        <result column="SPACE_TYPE" property="spaceType" />
        <result column="INDUSTRY_ID" property="industryId" />
        <result column="STATUS" property="status" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="LAST_MODIFIED_USER" property="lastModifiedUser" />
        <result column="LAST_MODIFIED_TIME" property="lastModifiedTime" />
        <result column="APP_ID" property="appId" />
        <result column="DATASOURCE_ID" property="datasourceId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, EN_NAME, CH_NAME, REMARK, BUSINESS_AREA_ID, SPACE_TYPE, INDUSTRY_ID, STATUS, CREATE_USER, CREATE_TIME, LAST_MODIFIED_USER, LAST_MODIFIED_TIME, APP_ID, DATASOURCE_ID
    </sql>

</mapper>
