<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liangqinghai.study.mybatis.mapper.TAgilefoxUserinfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.liangqinghai.study.mybatis.entity.TAgilefoxUserinfo">
        <id column="ID" property="id" />
        <result column="DISPLAY_NAME" property="displayName" />
        <result column="ACCOUNT" property="account" />
        <result column="ROLE_ID" property="roleId" />
        <result column="USER_ID" property="userId" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="LAST_MODIFIED_USER" property="lastModifiedUser" />
        <result column="LAST_MODIFIED_TIME" property="lastModifiedTime" />
        <result column="APP_ID" property="appId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DISPLAY_NAME, ACCOUNT, ROLE_ID, USER_ID, PROJECT_ID, CREATE_USER, CREATE_TIME, LAST_MODIFIED_USER, LAST_MODIFIED_TIME, APP_ID
    </sql>

</mapper>
